* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: auto;
  line-height: 1.5;
  color: #8a8f98;
  background-color: #060606;
  color-scheme: dark;
  font-size: 0.875em;
  height: 100%;
  --main-color: #f7f8f8;
  --text-color: #95a2b3;
  --button-color: rgba(86, 67, 204, 1);
}
.main_area {
  padding: 0 3em;
  border: 5px solid brown;
  box-sizing: border-box;
}

.cotainer {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: 5px solid rgb(147, 111, 238);
}
header {
  display: flex;
  height: 5vh;
  margin-top: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid transparent;
  background-color: transparent;
}
div {
  display: block;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
ul li {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  flex-shrink: 2;
  width: 100%;
  margin-bottom: 1.5rem;
}
nav .sign_up {
  margin: 0 2.5em;
}
nav .listing {
  margin-left: 1.5em;
}
.listing .links {
  display: flex;
}
.listing li {
  margin: 0.5em;
}
.links a {
  color: #a1a3a5;
}
.listing li a:hover,
.sign_up a:hover {
  color: rgba(252, 247, 247, 0.891);
  transition: 0.3s ease;
}
.burger {
  display: none;
}
.line {
  border: 3px solid;
  color: #f7f8f8;
}

.sign_up a {
  color: rgb(89, 43, 241);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-right: 0.527em;
}
.sign_up button {
  padding: 1em 2em;
  font-size: 0.8rem;
  border-radius: 0.55em;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
}
#sign_up {
  font-size: 0.985rem;
  font-weight: 700;
}
@media (max-width: 780px) {
  :root {
    line-height: 2.2;
    color: #dadfe7;
    background-color: #060606;
    color-scheme: dark;
    font-size: 0.75em;

    --main-color: #f7f8f8;
  }
  header {
    display: flex;
    height: 5vh;
    margin-bottom: 5rem;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    flex-shrink: 1;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(5px);
    background-color: transparent;
  }
  nav .listing {
    display: none;
  }

  nav .sign_up {
    float: right;
  }
  .things {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-width: 5.6em;
    padding: 1.5em;
  }

  .jsx-3531796665 {
    max-width: 9rem;
    margin: 1.25rem;
    padding: 1em;
    font-size: 1em;
    flex-shrink: 2;
  }
  .boxe {
    margin: 0.62em;
    min-width: 12rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 14px;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 12rem;
    padding: 52px;
    border-radius: 1rem;
    background-color: rgba(39, 40, 43, 0.82);
    width: calc(33.333% - 28px);
    box-shadow: 0 13px 40px rgb(0 0 0 /30%), 0 4px 4px rgb(0 0 0 /20%);
  }

  h3 {
    color: #5e6ad2;
    font-size: 20px;

    margin: 0 12px;
    line-height: 1.22;
    display: block;
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 4px 0;
    line-height: inherit;
    color: #f7f8f8;
  }
  .boxes p {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1.4;
    color: #8a8f98;
    width: 100%;
  }
}

.second_part {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  margin-bottom: 3.3em;
}
.text {
  margin-bottom: 1.8rem;
}
.text > h2 {
  display: flex;
  justify-content: center;
  font-weight: 900;
  text-align: center;
  font-size: 5.4rem;
  line-height: 1.2;
  color: #f7f8f8;
}
.second_part p {
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 1.2em;
  font-size: 2rem;
  color: var(--text-color);
}
.second_part button {
  padding: 1.5rem 2.25rem;
  border-radius: 0.8rem;
  background-color: var(--button-color);
  font-size: bold;
  font-weight: 700;
}
.btn {
  text-align: center;
  margin-bottom: 15em;
}
.anime1 {
  padding: 1.5rem;
  position: absolute;
  border: 5px solid red;
  height: 35vw;
  top: -100em;
  position: absolute;
}
.anime {
  display: flex;
  /*height: 100vmin;
   margin: 2em;
   width: 100%;
   position:absolute;
   margin: 0 3rem ;
   right: 0%;*/
}
.dark {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 1.5em;
}
.dark_text {
  text-align: center;
  color: var(--text-color);
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
  margin-bottom: 3em;
}
.things {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: 1250px;
  padding: 1.8em;
  max-height: 20vh;
  margin-bottom: 6.56em;
}
.jsx-3531796665 {
  max-width: 9rem;
  margin: 2.25rem;
  flex-shrink: 1;
}
.complex {
  background-color: #1c1d1f;
  margin: 140px 0 0;
  padding: 48px 0 72px 0;
  width: 100%;
}
.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  font-style: bolder;
  font-size: 44px;
  color: #f7f8f8;
}
.inside p {
  padding: 1.2em 0 1.5em 0;
  font-size: 1.6rem;
  color: #95a2b3;
}
.boxe {
  margin: 0.62em;
  min-width: 12rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 14px;
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 12rem;
  padding: 52px;
  border-radius: 1rem;
  background-color: rgba(39, 40, 43, 0.82);
  width: calc(33.333% - 28px);
  box-shadow: 0 13px 40px rgb(0 0 0 /30%), 0 4px 4px rgb(0 0 0 /20%);
}

h3 {
  color: #5e6ad2;
  font-size: 20px;

  margin: 0 12px;
  line-height: 1.22;
  display: block;
}
h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 4px 0;
  line-height: inherit;
  color: #f7f8f8;
}
.boxes p {
  font-size: 20px;
  margin-bottom: 0;
  line-height: 1.4;
  color: #8a8f98;
  width: 100%;
}
@media (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    line-height: 1.2;
    font-size: 1.1em;
    background-color: #1c1d1f;
    color-scheme: dark;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main_area {
    margin: 0;
    padding: 0.589em;
  }
  .text > h2 {
    display: inline-block;
    font-size: 1rem;
  }
  .dark_text {
    margin-bottom: 1em;
  }
  .things {
    display: flex;
    flex-wrap: wrap;
    max-height: 1200px;
    min-width: 30px;
    justify-items: stretch;
  }
  .jsx-3531796665 {
    max-width: 9rem;
    margin: 2.25rem;
    flex-shrink: 1;
  }
  .sign_up a {
    font-weight: 400;
    margin-right: 0.327em;
  }
  .sign_up button {
    padding: 1em;
    float: left;
    border-radius: 0.55em;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
  }
  nav .sign_up {
    display: inline-block;
    margin: 0 0.5em;
    float: left;
  }
  #sign_up {
    font-size: 0.985rem;
    font-weight: 700;
  }
}
