* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: auto;
  line-height: 1.5;
  color: #8a8f98;
  background-color: #060606;
  color-scheme: dark;
  font-size: 0.875em;
  height: 100%;
  --main-color: #f7f8f8;
  --text-color: #95a2b3;
  --button-color: rgba(86, 67, 204, 1);
}
.main_area {
  border: 5px solid brown;
  box-sizing: border-box;
  overflow: hidden;
}

.cotainer {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: 5px solid rgb(147, 111, 238);
}
header {
  display: flex;
  height: 5vh;
  margin-top: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid transparent;
  background-color: transparent;
}
div {
  display: block;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
ul li {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  flex-shrink: 2;
  width: 100%;
  margin-bottom: 1.5rem;
}
nav .sign_up {
  margin: 0 2.5em;
}
nav .listing {
  margin-left: 1.5em;
}
.listing .links {
  display: flex;
}
.listing li {
  margin: 0.5em;
}
.links a {
  color: #a1a3a5;
}
.listing li a:hover,
.sign_up a:hover {
  color: rgba(252, 247, 247, 0.891);
  transition: 0.3s ease;
}
.burger {
  display: none;
}
.line {
  border: 3px solid;
  color: #f7f8f8;
}

.sign_up a {
  color: rgb(89, 43, 241);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-right: 0.527em;
}
.sign_up button {
  padding: 1em 2em;
  font-size: 0.8rem;
  border-radius: 0.55em;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
}
#sign_up {
  font-size: 0.985rem;
  font-weight: 700;
}
@media (max-width: 780px) {
  :root {
    line-height: 2.2;
    color: #dadfe7;
    background-color: #060606;
    color-scheme: dark;
    font-size: 0.75em;

    --main-color: #f7f8f8;
  }
  header {
    display: flex;
    height: 5vh;
    margin-bottom: 5rem;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    flex-shrink: 1;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(5px);
    background-color: transparent;
  }
  nav .listing {
    display: none;
  }

  nav .sign_up {
    float: right;
  }
  .things {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-width: 5.6em;
    padding: 1.5em;
  }

  .jsx-3531796665 {
    max-width: 9rem;
    margin: 1.25rem;
    padding: 1em;
    font-size: 1em;
    flex-shrink: 2;
  }
  .boxe {
    margin: 0.62em;
    min-width: 12rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 14px;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 12rem;
    padding: 52px;
    border-radius: 1rem;
    background-color: rgba(39, 40, 43, 0.82);
    width: calc(33.333% - 28px);
    box-shadow: 0 13px 40px rgb(0 0 0 /30%), 0 4px 4px rgb(0 0 0 /20%);
  }

  h3 {
    color: #5e6ad2;
    font-size: 20px;

    margin: 0 12px;
    line-height: 1.22;
    display: block;
  }
  h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 4px 0;
    line-height: inherit;
    color: #f7f8f8;
  }
  .boxes p {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1.4;
    color: #8a8f98;
    width: 100%;
  }
}

.second_part {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  margin-bottom: 3.3em;
}
.text {
  margin-bottom: 1.8rem;
}
.text > h2 {
  display: flex;
  justify-content: center;
  font-weight: 900;
  text-align: center;
  font-size: 5.4rem;
  line-height: 1.2;
  color: #f7f8f8;
}
.second_part p {
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 1.2em;
  font-size: 2rem;
  color: var(--text-color);
}
.second_part button {
  padding: 1.5rem 2.25rem;
  border-radius: 0.8rem;
  background-color: var(--button-color);
  font-size: bold;
  font-weight: 700;
}
.btn {
  text-align: center;
  margin-bottom: 15em;
}
.anime1 {
  padding: 1.5rem;
  position: absolute;
  border: 5px solid red;
  height: 35vw;
  top: -100em;
  position: absolute;
}
.anime {
  display: flex;
  /*height: 100vmin;
   margin: 2em;
   width: 100%;
   position:absolute;
   margin: 0 3rem ;
   right: 0%;*/
}
.dark {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 1.5em;
}
.dark_text {
  text-align: center;
  color: var(--text-color);
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
  margin-bottom: 3em;
}
.things {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: 1250px;
  padding: 1.8em;
  max-height: 20vh;
  margin-bottom: 6.56em;
}
.jsx-3531796665 {
  max-width: 9rem;
  margin: 2.25rem;
  flex-shrink: 1;
}
.complex {
  background-color: #1c1d1f;
  margin: 140px 0 0;
  padding: 48px 0 72px 0;
  width: 100%;
}
.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  font-style: bolder;
  font-size: 44px;
  color: #f7f8f8;
}
.inside p {
  padding: 1.2em 0 1.5em 0;
  font-size: 1.6rem;
  color: #95a2b3;
}
.boxe {
  margin: 0.62em;
  min-width: 12rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 3em;
}
.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 14px;
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 12rem;
  padding: 52px;
  border-radius: 1rem;
  background-color: rgba(39, 40, 43, 0.82);
  width: calc(33.333% - 28px);
  box-shadow: 0 13px 40px rgb(0 0 0 /30%), 0 4px 4px rgb(0 0 0 /20%);
}

h3 {
  color: #5e6ad2;
  font-size: 20px;

  margin: 0 12px;
  line-height: 1.22;
  display: block;
}
h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 4px 0;
  line-height: inherit;
  color: #f7f8f8;
}
.boxes p {
  font-size: 20px;
  margin-bottom: 0;
  line-height: 1.4;
  color: #8a8f98;
  width: 100%;
}
@media (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    line-height: 1.2;
    font-size: 1.1em;
    background-color: #1c1d1f;
    color-scheme: dark;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main_area {
    margin: 0;
    padding: 0.589em;
  }
  .text > h2 {
    display: inline-block;
    font-size: 1rem;
  }
  .dark_text {
    margin-bottom: 1em;
  }
  .things {
    display: flex;
    flex-wrap: wrap;
    max-height: 1200px;
    min-width: 30px;
    justify-items: stretch;
  }
  .jsx-3531796665 {
    max-width: 9rem;
    margin: 2.25rem;
    flex-shrink: 1;
  }
  .sign_up a {
    font-weight: 400;
    margin-right: 0.327em;
  }
  .sign_up button {
    padding: 1em;
    float: left;
    border-radius: 0.55em;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
  }
  nav .sign_up {
    display: inline-block;
    margin: 0 0.5em;
    float: left;
  }
  #sign_up {
    font-size: 0.985rem;
    font-weight: 700;
  }
}
span {
  color: var(--main-color);
  font-style: bold;
  font-weight: 500;
}
.side_side {
  display: flex;
  width: 100%;
  margin-top: 3em;
  font-size: 2rem;
  padding-bottom: 5rem;
}
.this {
  font-size: 5rem;
  font-weight: 700;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
  margin-bottom: 1em;
}
.text4 {
  text-align: left;
  width: 40%;
  padding: 3.3em 0 3.3em 0;
  line-height: 2em;
  border: 5px red solid;
  margin: 6rem 0;
}
.imgs {
  overflow: hidden;
  max-height: 50rem;
}
.img {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  align-items: flex-start;
  width: calc(40 - 1.3em);
}
.background {
  background: url(https://linear.app/static/gradient/pinkred.png);
  background-size: cover;
  background-position: center center;
  border-radius: 2em;

  margin-left: 5vw;
}
.first {
  height: 70%;
  min-width: 70rem;
  position: relative;
  margin: 1px 1px;
  margin-left: 3em;
  top: 12%;
  left: 10vw;
  border-radius: 0.52em;
  overflow-x: hidden;
  box-shadow: 0px 40px 80px rgb(0 0 0 / 60%);
}
.secondi {
  height: 78%;
  min-width: 90rem;
  position: relative;
  margin: 1px 1px;
  margin-left: 1em;
  top: -32%;
  left: 8vw;
  border-radius: 0.52em;

  box-shadow: 0 26px 44px 18px rgb(0 0 0 / 50%);
}
.next1 {
  border: 5px green solid;
  padding: 5rem 0 5rem 0;
  background-color: #1c1d1f;
  width: 100%;
  height: 100vh;
  min-height: 50rem;
  margin-bottom: 3em;
  padding-bottom: 3em;
}
.conti {
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.symbols {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.and {
  background: -webkit-linear-gradient(#fff, #999);
  font-style: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.kin {
  border-radius: 0.3em;
  border-radius: 0.3em;
  margin: 0 0.31em;
  font-size: 2em;
  width: 2.1em;
  height: 2.1em;
  line-height: 2.1em;
  text-align: center;
  background: linear-gradient(180deg, #35363a 0%, rgba(39, 40, 43, 0.82) 100%);
  box-shadow: 0px 13px 1.2em rgb(0 0 0 / 30%), 0px 4px 4px rgb(0 0 0 / 35%);
  color: #d0d6e0;
}

.dance {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  line-height: 1.3em;
  font-size: 1.8em;
  color: var(--text-color);
  margin: 0 auto;
  margin-bottom: 1em;
}
.dance > h2 {
  font-size: 2em;
  font-style: bold;
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1em;
}
.backg {
  background: url(https://linear.app/static/gradient/redyellow.png);
  width: 100vmin;
  height: 50%;
  margin: 0.5em 0 0 0;
  margin-left: 1em;
  border-radius: 1.52em;
  background-size: cover;
  background-position: center center;
}
.dis {
  margin: 5rem auto;
  max-height: 45vmin;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 8.75em 0;
  width: 100%;
}
.in {
  font-style: bold;
  font-size: 2.1em;
  line-height: 1.5em;
}
.image {
  width: calc(60vw - 1.6em);
  margin: 0 1.6em 0 0;
  height: ;
  border-radius: 0 2.3em 2.3em 0;
  overflow: hidden;
  position: relative;
  max-width: 1100px;
  overflow: hidden;
}
.backk {
  position: relative;
  border-radius: 0 2.6em 0 0;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: url(https://linear.app/static/gradient/pinkred.png);
  background-size: cover;
  background-position: center center;
  align-content: center;
}
.net {
  position: absolute;
  max-height: 80vh;
  height: 40em;
  display: flex;
  justify-self: center;
  right: 10%;
  top: 20%;
}
.how_do {
  display: flex;
  flex-direction: row-reverse;
  background-color: #1c1d1f;
}
.ni {
  position: relative;
  border-radius: 0 0 0 0;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: url(https://linear.app/static/gradient/yellowredpurple.png);
  background-size: cover;
  background-position: center center;
  align-content: center;
}
.image1 {
  width: calc(60vw - 1.6em);
  margin: 0 0 0 1.6em;
  height: ;
  border-radius: 2.3em 0 0 2.3em;
  overflow: hidden;
  position: relative;
  max-width: 1100px;
  overflow: hidden;
}
.net1 {
  position: absolute;
  max-height: 80vh;
  height: 40em;
  display: flex;
  justify-self: center;
  left: 10%;
  top: 20%;
}
.dead {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
  margin-top: 6rem;
  padding: 11rem 0;
}
.dead_text {
  margin: 0 10em 1.6em 0;
}
.dead_text > h2 {
  font-style: bold;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}
.dead_text > p {
  font-size: 2em;
  color: var(--text-color);
  line-height: 1.3em;
}
.seperator {
  width: 0.1em;
  margin: 0 2em;
}
.svgs {
  display: flex;
  margin-bottom: 1em;
}
.bomb {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1c1d1f;
  margin-bottom: 2em;
}
.shit {
  display: flex;
  flex-direction: column;
  width: calc(50%);
  padding: 4em 3em 4em 4em;
}
.shit1 > h2 {
  font-style: bolder;
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
  line-height: 1.4;
}
.shit1 > p {
  line-height: 1.4;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.64em;
  margin-top: 0.8em;
}
.god1 {
  position: relative;
  width: 50%;
  background-color: #323da2;
}
.god2 {
  position: relative;
  width: 50%;
  background-color: #1a80a9;
}
.god3 {
  position: relative;
  width: 50%;
  background-color: #2eb67d;
}
.hmmh {
  max-height: 43vh;
  width: 38vw;
  position: relative;
  top: 1.5%;
  left: 2.5%;
  bottom: 2.5% %;
}
.last_child {
  display: flex;
  justify-content: center;
  background-color: #1c1d1f;
  padding: 3em;
  border-radius: 0.8em;
  margin-top: 0.2em;
}
.last1 {
  display: flex;
  width: 50%;
  margin-right: 2em;
  padding: 2.3em 3em 0 0;
  padding-left: 3em;
  border-radius: 120px;
}
.last2 {
  display: flex;
  width: 50%;
  padding: 2.3em 3em 0 0;
  border-radius: 120px;
}
.sv {
  margin: 2em auto;
}
.sv1 {
  padding-left: 1.35em;
}
.sv1 > h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  color: var(--main-color);
  font-style: bold;
}
.sv1 > p {
  line-height: 1.4;
  color: var(--text-color);
  font-size: 1.4em;
  font-style: bold;
}
.tried {
  padding: 5em 0;
  background-color: #1c1d1f;
}
.tryag {
  margin: 0 3em;
  padding: 6rem 0;
}
.tweet {
  display: flex;
  width: 100%;
}
.conns {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dia {
  display: flex;
  background: linear-gradient(180deg, #2d2e31 0%, #27282b 100%);
  box-shadow: 0px 11.4128px 35.1163px rgb(0 0 0 / 30%);
  border-radius: 0.8em;
  font-size: 0.875em;
  font-style: bold;
  line-height: 1.4;
  color: #dadfe7;
  width: 100%;
  margin-bottom: 1.3em;
  padding: 1em;
}
.comets {
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
  width: 100%;
}
.fini {
  width: 100%;
  margin-left: 1.2em;
  line-height: 1.2;
}
.reduce {
  width: 2.3em;
  height: 2.3em;
  margin-right: 0.8em;
  border-radius: 50%;
}
.ka {
  color: #8a8f98;
}
.tweets {
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, #2d2e31 0%, #27282b 100%);
  box-shadow: 0px 11.4128px 35.1163px rgb(0 0 0 / 30%);
  border-radius: 7px;
  padding: 16px;
  margin-bottom: 16px;
}
.inn {
  display: flex;
  flex-direction: column;
}
